$green: #e8f7ca;

.dropdownBtn {
  background-color: $green;
  min-width: 8rem !important;
  border: none;
}

.dropdownBtn::after {
  border: none;
}

.dropdownBtn:hover {
  background-color: $green;
  border: none;
}

.dropdownBtn:active {
  background-color: $green !important;
  border: none;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  background-color: $green !important;
  border: none;
}

.dropdown-menu {
  border-radius: 0.14rem;
  margin-left: 3px;
}

.dueDateBtn {
  background-color: $green;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropstart .dropdown-toggle::before {
  border: none;
}

.dropstart .dropdown-toggle {
  width: 50px !important;
  height: 35px !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bg-red {
  background-color: rgb(248 113 113) !important;
}

.bg-red:hover {
  background-color: rgb(212, 97, 97) !important;
}

.bg-yellow {
  background-color: rgb(231, 192, 36) !important;
}

.bg-yellow:hover {
  background-color: rgb(212, 177, 36) !important;
}

.bg-green {
  background-color: rgb(74 222 128) !important;
}

.bg-green:hover {
  background-color: rgb(66, 175, 106) !important;
}
